
<form>
    <div class="row">
      <div class="col">
        <input type="text" class="form-control" style="padding-left: 22px;" placeholder="Date">
      </div>
      <div class="col">
        <input type="text" class="form-control" style="padding-left: 22px;" placeholder="Impact">
      </div>
      <div class="form-group">
        <label for="exampleFormControlInput1">Details of Bug</label>
        <input type="text" class="form-control"  placeholder="Explain">
        <button type="button" class="btn btn-info">Submit</button>
      </div>
    </div>
  </form>
